<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Stephen Curry</h1>
    
    <h2>Jugador de Basquet</h2>

    <img src="/img/curry.jpg" width="600" height="400">
    
    <p class="parrafo-destacado">Wardell Stephen Curry II (Akron, Ohio, Estados Unidos; 14 de marzo de 1988), más conocido como Stephen Curry,
    es un jugador estadounidense de baloncesto que pertenece al equipo de los Golden State Warriors de la NBA. 
    Con 1,88 metros de altura, juega en la posición de base.</p>

    <p>Hijo del exjugador de la NBA Dell Curry​ y hermano mayor del también jugador Seth Curry,​ jugó a nivel 
    universitario tres años en Davidson y fue elegido por los Warriors en la séptima posición del Draft de la NBA
    de 2009. A lo largo de su carrera ha sido cuatro veces campeón de la NBA, dos veces MVP de la temporada regular 
    y una vez MVP de las Finales, además de dos Copas del Mundo con la selección estadounidense. 
    Está considerado como <strong>el mejor tirador de la historia del baloncesto</strong> y es el líder histórico de la NBA en triples anotados.</p>

    <h3>Logros y Reconocimientos</h3>

    <ul>
        <li>x4 NBA Champions</li>
        <li>x2 Gold Medals World Cup</li>
        <li>x2 MVP NBA Regular Season</li>
    </ul>

    <a href="https://google.com">Ir Google</a>
</body>
</html>